@model VectorAutoregression.Models.PreProcessDataModel
<!DOCTYPE HTML>
<html>
<head>
    <script>
    window.onload = function () {

    var chartX1Orig = new CanvasJS.Chart("chartContainerX1Orig", {
        animationEnabled: true,
        theme: "light2",
        animationEnabled: true,
        zoomEnabled: true,
        animationEnabled: true,
        axisY: {
            minimum: @Model.InputX1.Min(m=>m.Y),
        },
        title: {
            text: "Original first series"
        },
        data: [{
            type: "spline",
            name: "original",
            dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.InputX1))}
        ]
    });
        chartX1Orig.render();

        var chartX2Orig = new CanvasJS.Chart("chartContainerX2Orig", {
        animationEnabled: true,
        theme: "light2",
        animationEnabled: true,
        zoomEnabled: true,
        animationEnabled: true,
        title: {
            text: "Original second series"
        },
        data: [{
            type: "spline",
            name: "original",
            dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.InputX2))}
        ]
    });
        chartX2Orig.render();

        var chartX1Akf = new CanvasJS.Chart("chartContainerX1Akf", {
        animationEnabled: true,
        theme: "light2",
        animationEnabled: true,
        zoomEnabled: true,
        animationEnabled: true,
        title: {
            text: "ACF of first series"
        },
        data: [{
            type: "spline",
            name: "original",
            dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AkfX1))}
        ]
    });
        chartX1Akf.render();

        var chartX2Akf = new CanvasJS.Chart("chartContainerX2Akf", {
        animationEnabled: true,
        theme: "light2",
        animationEnabled: true,
        zoomEnabled: true,
        animationEnabled: true,
        title: {
            text: "ACF of second series"
        },
        data: [{
            type: "spline",
            name: "original",
            dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AkfX2))}
        ]
    });
        chartX2Akf.render();

       var chartX1d = new CanvasJS.Chart("chartContainerX1d", {
        animationEnabled: true,
        theme: "light2",
        animationEnabled: true,
        zoomEnabled: true,
        animationEnabled: true,
        title: {
            text: "1st diff of first series"
        },
        data: [{
            type: "spline",
            name: "original",
            dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Delta1X1))}
        ]
    });
        chartX1d.render();

        var chartX2d = new CanvasJS.Chart("chartContainerX2d", {
        animationEnabled: true,
        theme: "light2",
        animationEnabled: true,
        zoomEnabled: true,
        animationEnabled: true,
        title: {
            text: "1st diff of second series"
        },
        data: [{
            type: "spline",
            name: "original",
            dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Delta1X2))}
        ]
    });
        chartX2d.render();


        var chartX1dAcf = new CanvasJS.Chart("chartContainerX1dAcf", {
        animationEnabled: true,
        theme: "light2",
        animationEnabled: true,
        zoomEnabled: true,
        animationEnabled: true,
        title: {
            text: "ACF 1st diff 1st series"
        },
        data: [{
            type: "spline",
            name: "original",
            dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DeltaX1Akf))}
        ]
    });
        chartX1dAcf.render();

        var chartX2dAcf = new CanvasJS.Chart("chartContainerX2dAcf", {
        animationEnabled: true,
        theme: "light2",
        animationEnabled: true,
        zoomEnabled: true,
        animationEnabled: true,
        title: {
            text: "ACF 1st diff 2nd series"
        },
        data: [{
            type: "spline",
            name: "original",
            dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.DeltaX2Akf))}
        ]
    });
        chartX2dAcf.render();
}
    </script>
</head>
<body>
    <h3>Original input series</h3>
    <div id="chartContainerX1Orig" style="height: 370px; width: 45%; display:inline-table"></div>
    <div id="chartContainerX2Orig" style="height: 370px; width: 45%; display:inline-table"></div>
    <h3>AutoCorrelation Functions of Original Series</h3>
    <div id="chartContainerX1Akf" style="height: 370px; width: 45%; display:inline-table"></div>
    <div id="chartContainerX2Akf" style="height: 370px; width: 45%; display:inline-table"></div>
    <h3>First difference series</h3>
    <div id="chartContainerX1d" style="height: 370px; width: 45%; display:inline-table"></div>
    <div id="chartContainerX2d" style="height: 370px; width: 45%; display:inline-table"></div>
    <h3>AutoCorrelation Functions of First difference series</h3>
    <div id="chartContainerX1dAcf" style="height: 370px; width: 45%; display:inline-table"></div>
    <div id="chartContainerX2dAcf" style="height: 370px; width: 45%; display:inline-table"></div>
    <br />
    <br />
    <div class="text-center">
        <button class="success">
            @Html.ActionLink("VAR(1) for 1st diff can be built", "Var", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </button>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</body>
</html>  